#####
.DS_Store
*.swp
profile
# OS X temporary files that should never be committed
#####
# DotEnv files
.env
####
*~.nib
# Xcode temporary files that should never be committed
####
# Objective-C/Swift specific
*.hmap
*.ipa
####
# Xcode build files
DerivedData/
build/
Builds/
#####
# Xcode private settings (window sizes, bookmarks, breakpoints,
custom executables, smart groups)
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
xcuserdata/
####
# Other Xcode files
profile
*.hmap
*.ipa
####
# CocoaPods
Pods/
!Podfile
!Podfile.lock
####
# Gem
!Gemfile.lock
# Example Projects
Example/.DS_Store
Example/build/
Example/DerivedData/
Example/*.xcworkspace
Example/xcuserdata/
Example/*.xcuserstate
Example/Pods/
Example/Podfile.lock
Example/*.hmap
Example/*.ipa
Example/*.dSYM.zip
Example/*.dSYM
Example/*.tmp
Example/*.log